*{
	margin: 0;
	padding: 0;
}
b1{
	color:  gold;
	background: red;
	display: flex;
	justify-content: center;
}
section{
	background: #cab;
	width: 100%;
	height: 955px;
}
img{
	width: 500px;
	height: 400px;
	display: block;
	margin: auto;
}